<%- include('partials/head', { title, initialPush, cartCount, user }) %>
  <h2>Account</h2>
  <div class="summary">
    <p>Already have an account? <a href="/login">Log in</a></p>
    <p>New to ShopKart? <a href="/signup">Sign up</a></p>
  </div>
<%- include('partials/footer') %>

